<div class="contents">

    <div class="homeMsg">

      <p fxLayoutAlign="center center"><span style="font-size:x-large;">Welcome to the New Age Stocks Investment App</span></p> <br>

      <p fxLayoutAlign="center center" style="font-size:larger"> Click on the below button to see our dashboard </p>

      <p fxLayoutAlign="center center"> <button color="primary" (click)="openDashboard()" matTooltip="Click here to enter DashBoard section" mat-raised-button>Enter DashBoard</button> </p>

    </div>



  <div fxLayout="row" fxLayoutAlign="center center" style="font-weight:bolder ;">
  
  </div>

</div>
